*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a[class] {
  color: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

:focus-visible {
  outline: 2px dotted var(--pallette-silver);
}

.no-scroll {
  overflow: hidden;
}

html {
  height: 100%;
  scrollbar-color: var(--pallette-silver) transparent;
  scrollbar-width: thin;
}

body {
  font-family: var(--ff1);
  color: var(--pallette-white);
  background-color: var(--pallette-black);
  overflow-x: hidden;
}

.container {
  @include container;
}

.main {
  width: 100%;
  height: 100vh;
}

.animate-wrapper {
  height: 100%;
}

.section-wrapper {
  transform: translateY(100vh);

  @include media('1200', max) {
    transform: unset;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.offset-x > *:not(:last-child) {
  margin-right: var(--offset-x, 1rem);
}

.offset-y > *:not(:last-child) {
  margin-bottom: var(--offset-y, 1rem);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-silver);
  border-radius: 0.5rem;
}

// button
.btn {
  background-color: transparent;
  border: none;
  color: inherit;
}

@keyframes animateBgBears {
  00%,
  11% {
    background-image: url("../assets/images/faq_bears/01.png");
  }

  12%,
  24% {
    background-image: url("../assets/images/faq_bears/02.png");
  }

  25%,
  36% {
    background-image: url("../assets/images/faq_bears/03.png");
  }

  37%,
  49% {
    background-image: url("../assets/images/faq_bears/04.png");
  }

  50%,
  61% {
    background-image: url("../assets/images/faq_bears/05.png");
  }

  62%,
  74% {
    background-image: url("../assets/images/faq_bears/07.png");
  }

  75%,
  86% {
    background-image: url("../assets/images/faq_bears/08.png");
  }

  87%,
  100% {
    background-image: url("../assets/images/faq_bears/01.png");
  }
}

.animate-title {
  &__parent {
    display: block;
    overflow: hidden;

    @include media('1200', max) {
      overflow: unset;
    }
  }

  &__child {
    display: block;
    transform: translateY(rem(150));

    @include media('1200', max) {
      transform: unset;
    }
  }
}
