.callback {
  padding: rem(104) 0 rem(56);
  background-color: var(--pallette-black-pearl);

  @include media('767', max) {
    padding: rem(50) 0;
  }

  &__inner {
    display: flex;

    @include media('900', max) {
      flex-direction: column;
    }

    >* {
      &:not(:last-child) {
        margin-right: rem(210);

        @include media('1280', max) {
          margin-right: rem(105);
        }

        @include media('900', max) {
          margin-right: 0;
          margin-bottom: rem(50);
        }
      }
    }
  }

  &__block-text {
    width: 20%;

    @include media('1280', max) {
      width: 40%;
    }

    @include media('900', max) {
      width: 100%;
    }
  }

  &__block-form {
    width: 60%;

    @include media('900', max) {
      width: 100%;
    }
  }

  &__title {
    @include font-size(24, 26);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    margin-bottom: rem(40);
  }

  &__descr {
    @include font-size(16, 24);
    font-family: var(--ff3);
  }

  &__slider {
    margin-bottom: rem(67);

    @include media('500', max) {
      margin-bottom: rem(33);
    }
  }
}