<section id="callback" class="callback">
	<div class="container">
    {% view "^callback_slider" with {
      callback_slider: callback.slider|merge({
        class: "callback__slider"
      })
    } %}

    <div class="callback__inner">
      <div class="callback__item callback__block-text">
        {% view "@title" with {
          title: callback.title|merge({
            level: 2,
            class: "callback__title"
          })
        } %}

        <div class="callback__descr">
          <p>Контакты:</p>
          <a href="tel:+79778299328">+79778299328</a>
          <a href="mailto:AlexeyDrozdov.art@gmail.com">AlexeyDrozdov.art@gmail.com</a>
        </div>
      </div>

      <div class="callback__item callback__block-form">
        {% view "^form" with {
          form: callback.form|merge({
            class: "form--callback"
          })
        } %}
      </div>
    </div>
	</div>
</section>