.callback-slider {
  &__wrap {
    height: 35.25rem;
    margin-left: rem(112);

    @include media('1024', max) {
      margin-left: 0;
      height: 25rem;
    }

    @include media('576', max) {
      height: 18rem;
    }

    @include media('500', max) {
      height: 14rem;
    }
  }

  .swiper-slide {
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay, overlay, normal;
    -webkit-mask-image: url('../assets/images/substract.png');
    -webkit-mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-pagination {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    width: 20%;
    margin: rem(2);

    @include media('1024', max) {
      position: static;
      width: 100%;
    }

    @include media('576', max) {
      gap: rem(10);
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    width: rem(46);
    height: rem(46);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: rem(100);

    @include media('576', max) {
      width: rem(30);
      height: rem(30);
    }

    &-active {
      &::after {
        box-shadow: inset 0 0 0 rem(3) var(--pallette-black);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: rem(100);
        // outline: rem(1) solid var(--pallette-white);
        border: rem(1) solid var(--pallette-white);
        content: '';
      }
    }
  }
}