.promo {
  // min-height: 100vh;
  height: 100vh;
  max-height: rem(1000);
  overflow: hidden;
  opacity: 1;
  background-color: var(--pallette-black);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  &__container {
    height: 100%;
  }

  &__wrap {
    position: relative;
    height: 100%;
  }

  &__title {
    // @include font-size(170, 204);
    @include font-size(170, 130);
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;

    span {
      @include font-size(48, 53);
      font-weight: 500;
      letter-spacing: -0.03em;
      margin-left: rem(125);
    }
  }

  &__first-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }

  &__second-img {
    position: absolute;
    right: 0;
    top: 120%;
    height: 100%;
  }

  &__text {
    @include font-size(14, 20);
    font-weight: 300;
    font-family: var(--ff2);
    max-width: rem(396);
    position: absolute;
    left: 15%;
    top: 150%;
    opacity: 0.2;
  }
}
