<div class="promo">
  <div class="container promo__container">
    <div class="promo__wrap">
      {% view "@image" with {
        image: promo.first_image|merge({
          picture: {
            class: "promo__first-picture"
          },
          class: "promo__first-img",
          lazy: false
        })
      } %}

      <p class="promo__text">
        {{ promo.text }}
      </p>

      {% view "@title" with {
        title: promo.title|merge({
          class: "promo__title"
        })
      } %}
    </div>

    {% view "@image" with {
      image: promo.second_image|merge({
        picture: {
          class: "promo__second-picture"
        },
        class: "promo__second-img",
        lazy: false
      })
    } %}
  </div>
</div>
