<div class="promo">
  <div class="container promo__container">
    <div class="promo__wrap">
      {% view "@image" with {
        image: promo.first_image|merge({
          picture: {
            class: "promo__first-picture"
          },
          class: "promo__first-img",
          alt: "Одна из работ Алексея Дроздова - скульптура медведя.",
          lazy: false
        })
      } %}

      <p class="promo__text">
        {{ promo.text }}
      </p>

      <h1 class="title promo__title animate-title" aria-label="Алексей Дроздов">
        <span class="animate-title__parent">
          <span class="animate-title__child">{{ promo.title.text_1 }}</span>
        </span>
        <span class="animate-title__parent">
          <span class="animate-title__child">{{ promo.title.text_2 }}</span>
        </span>
      </h1>
    </div>

    {% view "@image" with {
      image: promo.second_image|merge({
        picture: {
          class: "promo__second-picture"
        },
        class: "promo__second-img",
        alt: "Алексей Дроздов, художник, скульптор, дизайнер и создатель неповторимых коллекций медведей, расписанных вручную.",
        lazy: false
      })
    } %}
  </div>
</div>
