.promo {
  $this: &;

  // min-height: 100vh;
  height: 100vh;
  max-height: rem(1000);
  overflow: hidden;
  opacity: 1;
  background-color: var(--pallette-black);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  @include media('1200', max) {
    position: static;
    height: auto;
    max-height: unset;
    overflow: unset;
    padding: rem(20) 0;
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__wrap {
    height: 100%;

    @include media('1200', max) {
      display: grid;
    }
  }

  &__title {
    // @include font-size(170, 204);
    @include font-size(170, 130);
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;

    span {
      @include font-size(48, 53);
      font-weight: 500;
      letter-spacing: -0.03em;
      margin-left: rem(125);

      @include media('500', max) {
        font-size: rem(24);
      }
    }

    @include media('1200', max) {
      grid-area: 1 / 2;
      position: static;
      padding-top: rem(170);
    }

    @include media('900', max) {
      padding-top: rem(50);
      font-size: rem(120);
      margin: 0 auto;
    }

    @include media('576', max) {
      font-size: rem(80);
    }

    @include media('500', max) {
      font-size: rem(60);
    }
  }

  &__first-picture {
    @include media('1200', max) {
      grid-area: 1 / 2;
    }

    @include media('500', max) {
      display: none;
    }
  }

  &__first-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }

  &__second-picture {
    @include media('1200', max) {
      margin: 0 auto;
    }
  }

  &__second-img {
    position: absolute;
    right: 0;
    top: 120%;
    height: 100%;

    @include media('1200', max) {
      position: static;
      margin: rem(20) auto 0;
      height: auto;
    }
  }

  &__text {
    @include font-size(14, 20);
    font-weight: 300;
    font-family: var(--ff2);
    max-width: rem(396);
    position: absolute;
    left: 15%;
    top: 150%;
    opacity: 0.2;

    @include media('1200', max) {
      position: static;
      opacity: 1;
      grid-area: 1 / 2;
      padding-top: rem(400);
      padding-bottom: rem(20);
    }

    @include media('900', max) {
      padding-top: rem(250);
    }

    @include media('500', max) {
      padding-top: rem(180);
    }
  }
}
