<nav class="nav-menu" aria-label="Главное">
  <ul class="nav-menu__list">
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">
        Товары
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">
        Контакты
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">
        Вопросы
      </a>
    </li>
  </ul>
</nav>