<nav class="nav-menu" aria-label="Главное">
  <ul class="nav-menu__list">
    <li class="nav-menu__item">
      <a href="#catalog" class="nav-menu__link js-link">
        Товары
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="#callback" class="nav-menu__link js-link">
        Контакты
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="#faq" class="nav-menu__link js-link">
        Вопросы
      </a>
    </li>
  </ul>
</nav>