<nav class="nav-menu" aria-label="Главное">
  <ul class="nav-menu__list">
    <li class="nav-menu__item">
      <a href="/" class="nav-menu__link js-link" data-link="catalog">
        Товары
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="/" class="nav-menu__link js-link" data-link="callback">
        Контакты
      </a>
    </li>
    <li class="nav-menu__item">
      <a href="/" class="nav-menu__link js-link" data-link="faq">
        Вопросы
      </a>
    </li>
  </ul>
</nav>