{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main class="main animate-wrapper">
  {% view "&promo" %}

  <div class="section-wrapper">
    {% view "&catalog" %}

    {% view "&callback" %}

    {% view "&sculpture" %}

    {% view "&faq" %}

    {% view "&footer" %}
  </div>
</main>
{% endblock %}