{% extends "../blocks/layout/base.twig" %}

{% block content %}
  <main class="main">
    {% view "&promo" %}

    {% view "&catalog" %}

    {% view "&callback" %}

    {% view "&sculpture" %}

    {% view "&faq" %}
  </main>
{% endblock %}