<section id="faq" class="faq">
  <div class="container">
    <h2 class="title--h2 faq__title animate-title" aria-label="Часто задаваемые вопросы">
      <span class="animate-title__parent">
        <span class="animate-title__child">{{ faq.title.text_1 }}</span>
      </span>
      <span class="animate-title__parent">
        <span class="animate-title__child">{{ faq.title.text_2 }}</span>
      </span>
    </h2>
    <div class="faq__inner">
      <div class="faq__start">
        <aside class="faq__callback">
          <p class="faq__callback-descr">
            {{ faq.callback_block.descr }}
          </p>
          <button class="btn faq__callback-btn js-modal-btn" data-modal="ask">
            {{ faq.callback_block.btn.text }}
          </button>
        </aside>
      </div>
      <div class="faq__end">
        {% view "^accordion" %}
      </div>
    </div>
  </div>
</section>