<section class="faq">
  <div class="container">
    {% view "@title" with {
      title: faq.title|merge({
        level: 2,
        class: "title--h2 faq__title"
      })
    } %}
    <div class="faq__inner">
      <div class="faq__start">
        <div class="faq__callback">
          <p class="faq__callback-descr">
            {{ faq.callback_block.descr }}
          </p>
          <button class="btn faq__callback-btn">
            {{ faq.callback_block.btn.text }}
          </button>
        </div>
      </div>
      <div class="faq__end">
        {% view "^accordion" %}
      </div>
    </div>
  </div>
</section>