.sculpture-slider {
  $this: &;
  margin-left: rem(10);

  &__item {
    width: rem(398);

    &:hover,
    &:focus-within {
      #{$this}__content {
        transform: translateY(rem(-10));

        &-hidden {
          opacity: 1;
        }
      }

      #{$this}__wrap {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__wrap {
    position: relative;
    display: inline-flex;
    overflow: hidden;

    &::before {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.42%, rgba(0, 0, 0, 0.75) 100%);
      opacity: 0;
      transition: opacity var(--transition1);
      content: '';
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 rem(16);
    display: flex;
    align-items: flex-end;
    gap: rem(10);
    transform: translateY(rem(48.5));
    transition: transform var(--transition1);

    @include media('500', max) {
      transform: translateY(rem(45));
    }

    &-title {
      @include font-size(18, 22);
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: rem(8);

      @include media('500', max) {
        font-size: rem(14);
      }
    }

    &-size {
      @include font-size(14, 20);
      font-weight: 300;
      font-family: var(--ff2);
      opacity: 0.8;
      margin-bottom: rem(6);

      @include media('500', max) {
        font-size: rem(12);
      }
    }

    &-price {
      @include font-size(16, 26);
      font-weight: 400;
      font-family: var(--ff2);

      @include media('500', max) {
        font-size: rem(12);
      }
    }

    &-right {
      margin-left: auto;
    }

    &-btn {
      @include flex-center-y;
      @include font-size(16, 16);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      font-family: var(--ff2);
      color: var(--pallette-silver);
      transition: color var(--transition1);

      @include media('500', max) {
        font-size: rem(12);
      }

      &:hover {
        color: var(--pallette-white);

        #{$this}__content {
          &-icon {
            transform: rotate(90deg);
            stroke: var(--pallette-white);
          }
        }
      }
    }

    &-icon {
      margin-left: rem(8);
      width: rem(16);
      height: rem(16);
      flex-shrink: 0;
      stroke: var(--pallette-silver);
      transition: transform var(--transition1), stroke var(--transition1);

      @include media('500', max) {
        width: rem(10);
        height: rem(10);
      }
    }
  }
}
