.sculpture-slider {
  $this: &;
  margin-left: rem(10);

  &__item {
    display: grid;
    overflow: hidden;

    &:hover {
      #{$this}__content {
        transform: translateY(rem(-10));

        &-hidden {
          opacity: 1;
        }
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.42%, rgba(0, 0, 0, 0.75) 100%);
      opacity: 0;
      transition: opacity var(--transition1);
      content: '';
    }
  }

  &__img-wrap {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 rem(16);
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    transform: translateY(rem(55));
    transition: transform var(--transition1);

    &-title {
      @include font-size(18, 22);
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: rem(8);
    }

    &-size {
      @include font-size(14, 20);
      font-weight: 300;
      font-family: var(--ff2);
      opacity: 0.8;
      margin-bottom: rem(6);
    }

    &-price {
      @include font-size(16, 26);
      font-weight: 400;
      font-family: var(--ff2);
    }

    &-right {
      margin-left: auto;
    }

    &-btn {
      @include flex-center-y;
      @include font-size(16, 16);
      letter-spacing: -0.03em;
      text-transform: uppercase;
      font-family: var(--ff2);
      color: var(--pallette-silver);
      transition: color var(--transition1);

      &:hover {
        color: var(--pallette-white);

        #{$this}__content {
          &-icon {
            transform: rotate(90deg);
            stroke: var(--pallette-white);
          }
        }
      }
    }

    &-icon {
      margin-left: rem(8);
      width: rem(16);
      height: rem(16);
      flex-shrink: 0;
      stroke: var(--pallette-silver);
      transition: transform var(--transition1), stroke var(--transition1);
    }
  }
}
