.input-block {
  $this: &;

  position: relative;
  @include font-size(16, 24);
  font-weight: 300;
  font-family: var(--ff2);
  letter-spacing: -0.02em;
  border-bottom: 0.1rem solid var(--pallette-white);

  &--error {
    border-color: var(--pallette-bittersweet);
  }

  &__input {
    width: 100%;
    padding-bottom: rem(12);
    color: inherit;
    outline: none;
    border: none;
    background-color: transparent;

    @include placeholder {
      opacity: 0;
    }

    &:focus~#{$this}__label,
    &:not(:placeholder-shown)~#{$this}__label {
      transform: translateY(rem(-20));
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform-origin: 0 0;
    opacity: 0.5;
    transition: transform var(--transition1);
  }

  &__message {
    @include font-size(12, 18);
    font-family: var(--ff1);
    color: var(--pallette-bittersweet);
    position: absolute;
    left: 0;
    bottom: rem(-20);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}