:root {
  // pallette
  --pallette-black: #000;
  --pallette-cod-gray: #1a1a1a;
  --pallette-black-pearl: #010308;
  --pallette-white: #fff;
  --pallette-silver: #bdbdbd;
  --pallette-silver-chalice: #b1b1b1;
  --pallette-mine-shaft: #242424;
  --pallette-bittersweet: #ff7272;

  // containers
  --container-width: 90rem; // 1440px
  --container-padding: 0.625rem; // 10px

  // fonts
  --ff1: 'Finlandica', sans-serif;
  --ff2: 'Inter', sans-serif;
  --ff3: 'Inter Tight', sans-serif;

  // transitions
  --transition1: 0.3s;
  --transition2: 0.5s;
}
