<section id="catalog" class="catalog">
  <div class="container">
    <h2 class="title--h2 catalog__title animate-title">
      <div class="animate-title__parent">
        <div class="animate-title__child">
          {{ catalog.title.text_1 }}
        </div>
      </div>
      <div class="animate-title__parent">
        <div class="animate-title__child">
          {{ catalog.title.text_2 }}
        </div>
      </div>
    </h2>

    <p class="catalog__text">
      {{ catalog.text }}
    </p>

    <ul class="catalog__inner">
      {% for item in catalog.items %}
        <li class="catalog__item">
          {% view "^product" with {
            product: item
          } %}
        </li>
      {% endfor %}
    </ul>

    {% view "@quote" with {
      quote: catalog.quote|merge({
        class: "catalog__quote"
      })
    } %}
  </div>
</section>