.catalog {
  padding: rem(56) 0 rem(96);
  background-color: var(--pallette-cod-gray);

  @include media('767', max) {
    padding: rem(56) 0;
  }

  &__title {
    max-width: rem(921);
    margin-bottom: rem(96);
    line-height: 1.1;

    @include media('900', max) {
      margin-bottom: rem(48);
    }

    @include media('500', max) {
      margin-bottom: rem(24);
    }
  }

  &__text {
    @include font-size(14, 20);
    font-weight: 300;
    font-family: var(--ff2);
    opacity: 0.8;
    max-width: rem(397);
    margin-left: 57.5%;
    margin-bottom: rem(96);

    @include media('900', max) {
      margin-left: 0;
      margin-bottom: rem(48);
    }

    @include media('500', max) {
      margin-bottom: rem(24);
    }
  }

  &__inner {
    @include media('1025', min) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: rem(14);
    }

    @include media('1024', max) {
      > * {
        &:not(:last-child) {
          margin-bottom: rem(14);
        }
      }
    }
  }

  &__item {
    &:nth-child(3n + 1) {
      @include media('1025', min) {
        grid-column: span 2;
      }
    }
  }

  &__quote {
    padding-top: rem(96);

    @include media('767', max) {
      padding-top: rem(48);
    }
  }
}
