<div id="burger_menu" class="burger-menu">
  <div class="burger-menu__content">
    <nav class="burger-menu__nav">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
          <a href="/" class="burger-menu__link js-link" data-link="catalog">
            Товары
          </a>
        </li>
        <li class="burger-menu__item">
          <a href="/" class="burger-menu__link js-link" data-link="callback">
            Контакты
          </a>
        </li>
        <li class="burger-menu__item">
          <a href="/" class="burger-menu__link js-link" data-link="faq">
            Вопросы
          </a>
        </li>
      </ul>
    </nav>
    <button class="btn burger-menu__btn js-modal-btn" data-modal="ask">Задать вопрос</button>
  </div>
</div>