<section class="sculpture">
  <div class="container">
    <div class="sculpture__inner">
      <h2 class="title--h2 sculpture__title animate-title">
        <div class="animate-title__parent">
          <div class="animate-title__child">СКУЛЬПТУРЫ</div>
        </div>
        <div class="animate-title__parent">
          <div class="animate-title__child">СРЕДНИХ</div>
        </div>
        <div class="animate-title__parent">
          <div class="animate-title__child">ФОРМАТОВ</div>
        </div>
      </h2>
      <div class="sculpture__buttons">
        <button class="btn swiper-button-prev sculpture__slider-btn">
          {% view "@icon" with {
            icon: {
              class: "sculpture__slider-btn-icon",
              name: "sprite-mono.svg#arrow-slider-prev"
            }
          } %}
        </button>
        <button class="btn swiper-button-next sculpture__slider-btn">
          {% view "@icon" with {
            icon: {
              class: "sculpture__slider-btn-icon",
              name: "sprite-mono.svg#arrow-slider-next"
            }
          } %}
        </button>
      </div>
    </div>
  </div>
  {% view "^sculpture_slider" %}
</section>