<div class="swiper product-slider">
  <div class="swiper-wrapper">
    {% for item in item.slides %}
      <div class="swiper-slide">
        <article class="product-slider__card js-modal-btn" data-modal="buy">
          {% view "@image" with {
            image: item.image|merge({
              class: "product-slider__img",
              lazy: false,
              attrs: "loading='lazy'"
            })
          } %}

          <div class="product-slider__content">
            <h3 class="product-slider__title animate-title">
              {{ item.content.title }}
            </h3>
            <p class="product-slider__size">
              {{ item.content.size }}
            </p>
            <p class="product-slider__text">
              {{ item.content.text }}
            </p>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>