.product-slider {
  $this: &;

  background-color: var(--pallette-black);

  &:hover,
  &:focus-within {
    .swiper-pagination {
      transform: translateY(0);
    }

    #{$this}__img {
      filter: saturate(100%);
      transform: scale(1.05);
    }

    #{$this}__content {
      transform: translateY(0);
    }

    #{$this}__btn {
      opacity: 1;
      visibility: visible;
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: rem(50);
    max-width: rem(284);
    gap: rem(20);
    left: unset;
    right: rem(24);
    transform: translateY(rem(70));
    transition: transform var(--transition1);

    @include media('1280', max) {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-end;
      max-width: min-content;
    }

    @include media('1200', max) {
      transform: translateY(0);
    }

    @include media('576', max) {
      gap: rem(10);
    }
  }

  .swiper-pagination-bullet {
    position: relative;

    @include flex-center;
    flex-shrink: 0;
    width: rem(55);
    height: rem(55);
    border-radius: rem(100);
    opacity: 1;

    &-active {
      background-color: var(--pallette-black);

      &::after {
        box-shadow: inset 0 0 0 rem(5) var(--pallette-black);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: rem(100);
        border: rem(1) solid var(--pallette-white);
        content: '';
      }
    }

    img {
      border-radius: rem(100);
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }

    @include media('576', max) {
      width: rem(30);
      height: rem(30);
    }
  }

  &__img {
    filter: saturate(35%);
    transition: filter var(--transition1), transform var(--transition1);

    @include media('576', max) {
      filter: saturate(100%);
      opacity: 0.8;
    }
  }

  &__content {
    position: absolute;
    bottom: rem(22);
    left: rem(24);
    z-index: 1;
    max-width: rem(316);
    transform: translateY(rem(160));
    transition: transform var(--transition1);

    @include media('1200', max) {
      transform: unset;
    }

    @include media('576', max) {
      left: rem(15);
      max-width: rem(220);
      bottom: rem(10);
    }
  }

  &__title {
    @include font-size(18, 22);
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: rem(18);

    @include media('576', max) {
      font-size: rem(16);
      margin-bottom: rem(5);
    }
  }

  &__size {
    margin-bottom: rem(8);

    @include media('576', max) {
      margin-bottom: rem(4);
    }
  }

  &__size,
  &__text {
    @include font-size(13, 20);
    font-weight: 300;
    opacity: 0.8;
    font-family: var(--ff2);

    @include media('576', max) {
      font-size: rem(10);
    }
  }

  &__text {
    margin-bottom: rem(18);

    @include media('576', max) {
      margin-bottom: rem(5);
    }
  }

  &__price {
    @include font-size(16, 26);
    font-family: var(--ff2);

    &:not(:last-child) {
      margin-bottom: rem(10);

      @include media('576', max) {
        margin-bottom: rem(5);
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: rem(126);
    height: rem(126);
    padding: rem(20) rem(15);
    border-radius: rem(122);
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.1rem solid var(--pallette-white);
    text-transform: uppercase;
    font-family: var(--ff3);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition1);

    @include media('1200', max) {
      display: none;
    }
  }

  &__mobile-btn {
    display: none;

    @include font-size(16, 16);
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-family: var(--ff2);
    color: var(--pallette-silver);
    transition: color var(--transition1);

    @include media('1200', max) {
      @include flex-center-y;
    }

    @include media('500', max) {
      font-size: rem(12);
    }

    &:hover {
      color: var(--pallette-white);

      #{$this}__content {
        &-icon {
          transform: rotate(90deg);
          stroke: var(--pallette-white);
        }
      }
    }

    &-icon {
      margin-left: rem(8);
      width: rem(16);
      height: rem(16);
      flex-shrink: 0;
      stroke: var(--pallette-silver);
      transition: transform var(--transition1), stroke var(--transition1);

      @include media('500', max) {
        width: rem(10);
        height: rem(10);
      }
    }
  }
}
